__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.env
.venv/
venv/
env/

.idea/
.vscode/
*.swp
*.swo
*~

node_modules/
ui/dist/

.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

.ipynb_checkpoints/
